.A13-Body {
  .tag {
    padding-top: 1rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 12.721px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #f92950;
  }
  .title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 66px;
    text-align: center;
    color: #1d2a3b;
  }
}
