.BehindBody {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.smallinto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #d9121f;
}
.smallHedding {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: -0.02em;
  color: #010101;
}
.smallbox {
  margin-top: 2rem;
  height: 13rem;
  width: 17rem;
  background: #f3f3f1;
  margin-bottom: 2rem;
}
.smalldesc {
  width: 80%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #5d5d5d;
  margin-bottom: 2rem;
}
.bigImageContainer {
  display: flex;
  flex-direction: row;
}
.BigLinks {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0rem;
}

.BigLink {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 60px;
  color: #8c8c8c;
  letter-spacing: -0.02em;
}

.BigLink:hover {
  color: #5b5a5a;
}

.active {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 25px;
  color: #d9121f;
}

.active:hover {
  color: #d9121f;
}
.Image-tag-container {
  position: relative;
}
.BigImage {
  z-index: +1;
  position: relative;
}
.Experiance-tag {
  z-index: -1;
  position: absolute;
}
.BigLinks-Hide {
  display: none;
}
/* ======================== */
@media screen and (max-width: 1320px) {
  .BehindBody {
    grid-template-columns: auto auto;
  }
  .Behind-Part3 {
    display: none;
  }
  .BigLinks-Hide {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .link {
    margin-left: 2.5rem;
  }
}
/* ======================== */
@media screen and (max-width: 1320px) {
  .smallinto {
    text-align: center;
  }
  .smallHedding {
    text-align: center;
  }
  .Behind-Part1 > img {
    margin-top: 2rem;
    margin-left: 10%;
    margin-bottom: 2rem;
  }
  .smalldesc {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .BigLink {
    text-decoration: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #8c8c8c;
    letter-spacing: -0.02em;
  }
  .Behind-Book-Button {
    margin-left: 42%;
  }
  .BehindBody {
    grid-template-columns: auto;
  }
  .BigImage {
    margin-top: 2rem;
    width: 100%;
  }

}
