.Eoff-Body {
 margin-bottom: 8rem;
  background-color: #f2f2f2;
  padding-bottom: 8rem;
}
.Eoff-Intro {
  padding-top: 5rem;
  font-family: "Jost";
  font-size: 16px;
  line-height: 19px;
  color: #454545;
  text-align: center;
}
.Eoff-Hedding {
  margin-top: 1rem;
  font-family: "Jost";
  font-size: 35px;
  line-height: 41px;
  color: #191919;
  text-align: center;
  margin-bottom: 2rem;
}
.Eoff-Contents {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.Eoff-Content1 {
  margin-top: auto;
  min-height: 21rem;
  margin-bottom: auto;
  background-color: #ffffff;
}
.Eoff-Content2 {
  margin-top: auto;
  min-height: 21rem;
  margin-bottom: auto;
  background-color: #ffffff;
}
.Eoff-Content3 {
  margin-top: auto;
  min-height: 21rem;
  margin-bottom: auto;
  background-color: #ffffff;
}
.Eoff-pic3 {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.Eoff-Content1 > img {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.Eoff-Content-Hedding {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #191919;
}
.Eoff-Content-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #5a5a5a;
}
/* ============================================ */
@media screen and (max-width: 872px) {
  .Eoff-Content3 {
    display: none;
  }
}
/* ============================================ */
@media screen and (max-width: 566px) {
  .Eoff-Content2 {
    display: none;
  }
}
