.Navbarcontainer {
  display: flex;
  width: 100%;
}
.HFNavbar {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  background-color: transparent;
}
.Navlogo {
  margin-left: 10rem;
}
.Navlinks {
  margin-left: auto;
  margin-right: auto;
}
.HFnavSearchicon {
  border: none;
  background-color: transparent;
}
.Navrighticon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
}
.lasticon {
  margin-right: 15rem;
}
