.HedderRedButton {
  white-space: nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12.918px;
  line-height: 19px;
  color: #ffffff;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}
