.EFooter-Body {
  height: fit-content;
  background-color: #23292d;
}
.EFooter-Parts {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 2rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}
.EFooter-Part1 {
  width: fit-content;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ededed;
}
.EFooter-Part1-Content {
  width: 25rem;
}
.EFooter-Button-Conatiner {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.EF-Footer-Button {
  background-color: #fed700;
  border: none;
  font-family: "Jost";
  font-size: 15px;
  height: 2rem;
  width: 6rem;
  border-radius: 3rem 3rem 3rem 3rem;
  line-height: 18px;
  color: #23292d;
}
.EFooter-Hedding {
  margin-top: 1rem;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 1rem;
}
.EFooter-Links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.EFooter-Link {
  margin-left: 0.5rem;
  width: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}
.EFooter-Icon {
  width: fit-content;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #fed700;
}
.EFooter-Parts-Hide-row1 {
  display: none;
}
.EFooter-Parts-Hide-row2 {
  display: none;
}
.EFooter-Logo-lastone {
  display: none;
}
/*================== MEDIA QUERIES(MEDIUM DEVICES) ====================*/

@media screen and (max-width: 1059px) {
  .EFooter-Parts {
    display: none;
  }
  .EFooter-Parts-Hide-row1 {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
}

/*================== MEDIA QUERIES(MEDIUM DEVICES) ====================*/

@media screen and (max-width: 788px) {
  .EFooter-Parts-Hide-row1 {
    display: none;
  }
  .EFooter-Parts-Hide-row2 {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .EFooter-Part2 {
    margin-right: 5rem;
  }
  .EFooter-Part3 {
    margin-left: 5rem;
  }
  .EFooter-Logo-lastone {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}
/*================== MEDIA QUERIES(MEDIUM DEVICES) ====================*/

@media screen and (max-width: 417px) {
  .EFooter-Part1 > img {
    margin-left: 30%;
  }
  .EFooter-Part1-Content {
    width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .EFooter-Button-Conatiner {
    margin-left: 45%;
  }
  .EFooter-Part2 {
    margin-right: 3rem;
  }
  .EFooter-Part3 {
    margin-left: 3rem;
  }
}
