.hedderupperbody {
  background-color: #f8f9fa;
}
.HedderBody {
  width: 100%;
  background-color: #f8f9fa;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cartmax-39396.appspot.com/o/HF%2FHedder-image%20(2)-cropped.png?alt=media&token=a6b246bb-5405-4a5e-af3e-91995e578378");
  background-size: cover;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.HedderContent {
  margin-top: 13rem;
  margin-left: 10rem;
}
.HedderNotice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  padding-left: 1rem;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #d9121f;
}
.HedderTextContainer {
  display: flex;
  flex-direction: row;
}
.HedderMainText {
  display: inline;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 85px;
  color: #040404;
}
.HedderMainTextpart1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 85px;
  color: #040404;
}
.HedderMainTextnext {
  margin-left: 1rem;
  width: auto;
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 85px;
  color: #040404;
}
.HedderSmallText {
  padding: 1rem 0rem 1rem 0rem;
  width: 60%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #717171;
}
.HedderButtonsContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
}
.HedderbuttonText {
  padding: 0.5rem 0 0 0.5rem;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #212121;
}
.b2container {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
}
.Hedderb2 {
  padding-bottom: 0.5rem;
  padding-left: 0.6rem;
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: transparent;
  margin-bottom: 2rem;
}

.HedderOffer {
  display: flex;
  margin-top: 5rem;
  margin-left: 52rem;
  width: 20rem;
  height: 5rem;
  color: black;
  border-radius: 55px;
  background-color: white;
}

.HedderOfferCircle {
  margin-top: 0rem;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #838383;
}
.HedderOfferText {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1rem;
}

.OfferSmallText {
  font-family: "Jost";
  font-size: 14.893px;
  line-height: 17px;
  color: #383838;
}
.OfferBigText {
  padding-top: 0.3rem;
  font-family: "Jost";
  font-size: 14.893px;
  font-weight: 700;
  line-height: 17px;
  color: #383838;
}
/*================== MEDIA QUERIES(SMALL DEVICES) ====================*/

@media screen and (max-width: 1500px) {
  .HedderBody {
    background-image: none;
  }
  .HedderOffer {
    display: none;
  }
}

/*================== MEDIA QUERIES(SMALL DEVICES) ====================*/

@media screen and (max-width: 900px) {
  .HedderContent {
    margin-top: 3rem;
    margin-left: 10%;
  }
}

/*================== MEDIA QUERIES(SMALL DEVICES) ====================*/

@media screen and (max-width: 690px) {
  .HedderBody {
    width: 85%;
    background-color: #f8f9fa;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cartmax-39396.appspot.com/o/HF%2FHedder-image%20(2)-cropped.png?alt=media&token=a6b246bb-5405-4a5e-af3e-91995e578378");
    background-size: cover;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }
  .HedderContent {
    margin-top: 3rem;
    margin-left: 5%;
  }
  .HedderMainText {
    line-height: 55px;
    font-size: 35px;
  }
  .HedderMainTextpart1 {
    line-height: 55px;
    font-size: 35px;
  }
  .HedderMainTextnext {
    margin-left: 1rem;
    line-height: 55px;
    font-size: 35px;
  }
  .HedderSmallText {
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #717171;
  }
  .HedderButtonsContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    /* row-gap: 1rem; */
  }
  .HedderbuttonText {
    white-space: nowrap;
    padding: 0.5rem 0 0 0.5rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 23px;
    color: #212121;
  }
  .b2container {
    padding-left: 0rem;
  }
}
