.A12-Body {
  height: 50vh;
  background-color: #0e0e0f;
  .p1 {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4c4c4c;
    height: 50vh;
    .Icon {
      margin-top: 10rem;
      margin-left: 45%;
    }
    .title {
      font-family: "Jost";
      font-style: normal;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      line-height: 43px;
      color: #ffffff;
    }
  }
}
