.SalesBody {
  background: #f6f6f6;
}
.SalesIntro {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #d9121f;
  margin-left: 15rem;
  padding-top: 5rem;
}
.SlaesHedding {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 65px;
  color: #0c0c0c;
  margin-left: 15rem;
}
.SalesProucts {
  margin-top: 2rem;
  margin-left: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.saleProduct {
  position: relative;
}
.SalesButton {
  z-index: +1;
  position: absolute;
  margin-left: 2rem;
  margin-top: 1rem;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #509c0c;
}
.Sales-Image {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 350px;
  width: 250px;
}

.Sales-Image:hover {
  position: relative;
  opacity: 0.2;
}
.HoverIcon1 {
  position: absolute;
  margin-left: 5rem;
  margin-top: 10rem;
  border-radius: 50%;
  background-color: white;
  padding: 0.35rem;
}
.HoverIcon2 {
  position: absolute;
  margin-left: 8rem;
  margin-top: 10rem;
  border-radius: 50%;
  background-color: #d9121f;
  padding: 0.35rem;
}
.HoverIcon3 {
  position: absolute;
  margin-left: 11rem;
  margin-top: 10rem;
  border-radius: 50%;
  background-color: white;
  padding: 0.35rem;
}

.HoverIcon1:hover {
  background-color: red;
}

.SalesTitle {
  width: 50%;
  font-family: "Jost";
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #151515;
  margin-top: 1rem;
  margin-left: 1rem;
}
.prices {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
.OriginalPrice {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #151515;
  margin-right: 0.5rem;
}
.OfferPrice {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .SalesIntro {
    margin-left: 2rem;
  }
  .SlaesHedding {
    margin-left: 2rem;
  }
  .SalesProucts {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .SalesProucts {
    align-self: center;
    margin-left: 0;
    margin-right: auto;
    max-width: fit-content;
  }

  .saleProduct {
    position: relative;
    width: 90%;
    margin-left: 14%;
    margin-right: 14%;
  }
}
